body{
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  margin: 3px;
  padding: 0;
  overflow-x: hidden;
}
/* inizio intestazione */
header{
  height: 100px;
  background-image: url(Assets/img/pattern.png);
  background-color: rgb(78, 160, 255) ;
}

header p{
  line-height: 10px;
}
header .grosso{
  font-size: 22px;
}
header .piccolo{
  font-size: smaller;
}

.titolo strong{
  color: rgb(4, 178, 178);
}

.logo{
  height: 10%;
  width: 20%; 
  height: 100px;
  position: relative;
}

.logo img{
  position: absolute;
  bottom: 0;
  left: 0;
}
/* fine intestazione */

main{
  margin-top: 180px;
}

.foto-tim{
  margin-top: 220px;
  max-width: 90%;
  min-width: 300px;
  display: flex;
}
.foto-tim img{
  max-width: 90%;
  height: auto; 
  flex: auto;
  margin-left: 0;  
}

.didascalia{
  line-height: 5px;
  font-size: smaller;
}

 /* tabella */

 .tabella{
  border: none;
  text-align: justify;
  
 }
 #testa-tabella{
  background-color: rgb(30, 168, 228);
  text-align: left;
}

 #prima-riga{
  background-color: rgb(176, 228, 241);
}

 #seconda-riga{
  background-color: white;
}

 #terza-riga{
  background-color: rgb(176, 228, 241) ;
}
/* fine tabella */

/* footer */
.foto-fondo{
  max-width: 25%;
}

footer p{
  color: rgb(138, 133, 133);
  font-weight: 700;
}

 footer span{
  font-size: 25px;
  color: white;
  padding: 20px;
 }
/* immagini del footer */
.monitor{
  background-image: url(Assets/img/monitor.jpg);
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
}
.grafico{
  background-image: url(Assets/img/graph.jpg);
  width: 300px;
  height: 200px;
}