body{
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  margin: 3px;
  padding: 0;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
/* inizio intestazione */
header{
  margin: 0;
  padding: 0;
  height: 100px;
  background-image: url(Assets/img/pattern.png);
  background-color: rgb(170, 141, 87) ;
}

header p{
  line-height: 10px;
}
header .grosso{
  font-size: 22px;
}
header .piccolo{
  font-size: smaller;
}

.titolo{
  padding: 0;
  margin: 0;
}

.titolo strong{
  color: rgb(4, 178, 178);
}

.logo{
  height: 10%;
  width: 20%; 
  height: 100px;
  position: relative;
}

.logo img{
  position: absolute;
  bottom: 0;
  left: 0;
}
/* fine intestazione */

main{
  background-color: lightgrey;
  padding: 0;
  margin: 0;
  background-size: cover;
  overflow: hidden;
}
  
.sfondo{
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}


.foto-tim{
  padding-top: 5px;
  max-width: 70%;
  min-width: 300px;
  display: flex;
}


.foto-tim img{
  max-width: 90%;
  height: auto; 
  flex: auto;
  margin-left: 0;  
}

.didascalia{
  line-height: 5px;
  font-size: smaller;
}
.articolo-sopra span{
  background-color: rgb(102, 73, 113);
}

 /* tabella */

 .tabella{
  border: none;
  text-align: justify;
  
 }
 #testa-tabella{
  background-color: rgb(71, 71, 71);
  text-align: left;
}

 #prima-riga{
  background-color: rgb(107, 96, 96);
}

 #seconda-riga{
  background-color: rgb(245, 211, 211);
}

 #terza-riga{
  background-color: rgb(107, 96, 96) ;
}
/* fine tabella */
.articolo-sotto span{
  background-color: rgb(102, 73, 113);
}

/* footer */
.foto-fondo{
  max-width: 25%;
}

footer{
  background-color: rgb(107, 96, 96);
  min-height: 500px;
  overflow: hidden;
}

footer p{
  color: rgb(138, 133, 133);
  font-weight: 700;
  font-size: 26px;
  max-width: 70%;
  margin-left: 15%;
}

 footer span{
  font-size: 22px;
  color: white;
  max-width: 70%;
  margin-left: 15%;
 }
/* immagini del footer */
.monitor{
  background-image: url(Assets/img/monitor.jpg);
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  max-width: 70%;
  margin-left: 15%;
}
.grafico{
  background-image: url(Assets/img/graph.jpg);
  width: 300px;
  height: 200px;
  max-width: 70%;
  margin-left: 15%;
}
